<form action = "/square/new">
<label for = "square"> Enter a number </label>
<input id = "square" placeholder = "What number do you want to take the square of?" type = "text" >
<%= @square %>
</form>
