<form action = "/square_root/results">
  <label for = "zebra">Enter a number</label>
  <input id = "zebra" name = "num_to_square_root" placeholder = "What number do you want to take the square root of?">
  
  <div>
    <button>Calculate square root</button>
  </div>
</form>
