<form action = "/square/results">
  <div>
    <label for = "giraffe"> Enter a number </label>
  </div>

  <div>
    <input id = "giraffe" name = num_to_square placeholder = "What number do you want to take the square of?" type = "text" >
  </div>
  <button>Calculate square</button>
</form>
